body{
    background-color: #fef6e4;
}
.heading{
    text-align: center;
    font-size: 45px;
}
.main-header-container{
    display: flex;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
}
.header-image{
    height: 250px;
}
.name-color{
    color: #ffffff;
    background-color: #09a809;
    padding: 3px;
    font-size: 36px;
    border-radius: 8px;
}
.paragraph-style{
    font-size: 20px;   
}
.features-container{
    display: flex;
    justify-content: center;
}
.features-card{
    width: 250px;
    background-color: #ffffff;
    margin: 30px;
    padding: 20px;
    border:7px double #808080;
    padding-top: 0px;
}
.card-image{
    height: 200px;
    margin-left: 26px;
}
.card-name{
    font-size: 30px;
    margin-top: 0px;
    text-align: center;
}
.card-paragraph{
    font-size: 17px;
    text-align: center;
    margin-top: 0px;
}
.features-card:hover{
    box-shadow: 0px 0px 3px 4px #09a809;
}
.category-card{
    width: 200px;
    background-color: #ffffff;
    margin: 30px;
    padding: 20px;
    border:7px double #808080;
}
.category-card:hover{
    box-shadow: 0px 0px 3px 4px #09a809;
}
.category-card-image{
    width: 180px;
}
.dairy-prod-image{
    height: 120px;
    width: 140px;
}
.algn{
    text-align: center;
}
.category-btn{
    padding: 9px;
    font-size: 17px;
    background-color: #ffffff;
    border: 1px solid black;
    margin-left: 50px;
}
.category-btn:hover{
    background-color: #09a809;
    color: #ffffff;
    border-radius: 10px;
    transition: 0.5s;
}